# Let the bluez-cups "bluetooth" backend (runs as cupsd_t) open L2CAP/RFCOMM
# sockets. Fedora ships bluez-cups but its policy denies this:
#   avc: denied { create } ... comm="bluetooth" ... tclass=bluetooth_socket
# Remove with: sudo semodule -r cups_bluetooth
module cups_bluetooth 1.0;

require {
	type cupsd_t;
	class bluetooth_socket { create connect bind read write getattr setattr getopt setopt shutdown ioctl };
}

allow cupsd_t self:bluetooth_socket { create connect bind read write getattr setattr getopt setopt shutdown ioctl };
